apiVersion: apps/v1
kind: Deployment
metadata:
  name: spring-boot-app
  labels:
    app: spring-boot-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: spring-boot-app
  template:
    metadata:
      labels:
        app: spring-boot-app
    spec:
      containers:
      - name: spring-boot-app
        image: 076226033208.dkr.ecr.ap-south-1.amazonaws.com/springboot-java-app:c52354dacca9650b54a2e49d31cf72d9b993c5ba
        ports:
        - containerPort: 8080
          #ismail
