name: api-gateway-cicd-for-spiringboot
on:
  push:
    brnaches: ["main"]
jobs:
  checkout:
    runs-on: ubuntu-latest
    steps:
      - name: code chekout
        uses: actions/checkout@v6.0.2
      - run: |
          echo "cicd intiliazed successfully" 
      - name: setup jdk
        uses: actions/setup-java@v5.2.0
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: build application
        run: mvn -B clean package
      - run: echo "build successfull"

