name: api-gateway-cicd-for-spiringboot
on:
  push:
    brnaches: ["main"]
jobs:
  checkout:
    runs-on: ubuntu-latest
    steps:
      - name: code chekout
        uses: actions/checkout@v6.0.2
      - run: |
          echo "cicd intiliazed successfully" 

