name: springboot-app-cicd
on:
  push:
    branches: ["main"]

jobs:
  build: 
    runs-on: ubuntu-latest
    steps:
      - name: code checkout
        uses: actions/checkout@v6.0.2
      
      - name: setup jdk
        uses: actions/setup-java@v5.2.0
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: build with maven
        run: |
          mvn -B clean package
          ls -l

      
      - name:  SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v7.0.0
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }} 

      - name:  SonarQube qwality gate check
        id: sonarqube-quality-gate-check
        uses: SonarSource/sonarqube-quality-gate-action@v1.2.0
        with:
          pollingTimeoutSec: 600
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }} 

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v6.0.0
        with:
          name: springboot-1
          path: ./target/*.jar

  build-and-push-docker-image:
    runs-on: ubuntu-latest
    needs: build
    steps:

      - name: code checkout
        uses: actions/checkout@v6.0.2

      - name: download build artifact
        uses: actions/download-artifact@v7.0.0
        with:
          name: springboot-1
          path: ./target/


      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::076226033208:role/github-actions-ecr-role
          aws-region: ap-south-1
      
      - name: Login to ECR
        uses: docker/login-action@v3.7.0
        with:
          registry: 076226033208.dkr.ecr.ap-south-1.amazonaws.com

      - name: Build and push Docker images
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          push: true
          tags: 076226033208.dkr.ecr.ap-south-1.amazonaws.com/java-springboot-app:${{ github.sha }}

  update-deployment-files:
  runs-on: ubuntu-latest
  needs: build-and-push-docker-image
  permissions:
    contents: write
  steps:
    - name: code checkout
      uses: actions/checkout@v6.0.2
      with:
        token: ${{ github.token }}

    - name: update deployment files
      run: |
        sed -i "s|image:.*|image: 076226033208.dkr.ecr.ap-south-1.amazonaws.com/java-springboot-app:${{ github.sha }}|" app-manifest/deployment.yml
        git config user.name ismail
        git config user.email attarismail@gmail.com
        git add . app-manifest/deployment.yml
        git commit -m "updated deployment files to ${{ github.sha }}"
        git push origin main
        git fetch origin
        git checkout argocd
        sed -i "s|image:.*|image: 076226033208.dkr.ecr.ap-south-1.amazonaws.com/java-springboot-app:${{ github.sha }}|" app-manifest/deployment.yml
        git add . app-manifest/deployment.yml
        git commit -m "updated deployment files to ${{ github.sha }}"
        git push origin argocd





          
      


      
